In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\LENOVO\\OneDrive\\Documents\\gapminder_full.csv")

In [6]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [7]:
type(pd.read_csv('gapminder_full.csv'))

pandas.core.frame.DataFrame

In [8]:
# escape seq

In [9]:
print('This is path of my file')

This is path of my file

In [10]:
print("C:\\Users\\LENOVO\\OneDrive\\Documents")

C:\Users\LENOVO\OneDrive\Documents

In [14]:
print('monty \\vedant')

monty \vedant

In [17]:
# data frame

In [18]:
df.shape

(1704, 6)

In [19]:
df.size

10224

In [20]:
df.ndim

2

In [21]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [22]:
df['life_exp']

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: life_exp, Length: 1704, dtype: float64

In [23]:
type(df['life_exp'])

pandas.core.series.Series

In [24]:
s = df['life_exp']
print(s.shape)

(1704,)

In [25]:
s.ndim

1

In [26]:
s.size

1704