In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('gapminder_full.csv')

In [6]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [9]:
# implicit and explicit indexing
# there is no limitation in using the index 
# duplicates are also allowed as indexing
ans = pd.Series([11,22,33,44,55],['a','b','c','d','e'])

In [10]:
ans

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [7]:
type(ans)

pandas.core.series.Series

In [11]:
p = pd.Series(data=['a','b','c','d','e'])

In [12]:
p

0    a
1    b
2    c
3    d
4    e
dtype: object

In [19]:
p = pd.Series(['a','b','c'],[10,20,30])

In [23]:
p

10    a
20    b
30    c
dtype: object

In [25]:
# retrieving the data from Series
p[10]

'a'

In [26]:
p[30]

'c'

In [7]:
v = pd.Series(list('abcdefghi'),[1,1,2,2,3,3,4,4,5])

In [8]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [6]:
# retrieving the data from the series
v[1]

1    a
1    b
dtype: object

In [7]:
v[3]

3    e
3    f
dtype: object

In [9]:
# v[6] error for missing index

In [10]:
# slicing
# var[start:end]

In [11]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [12]:
v[1:3]

1    b
2    c
dtype: object

In [13]:
v[0:3]

1    a
1    b
2    c
dtype: object

In [14]:
v[1]

1    a
1    b
dtype: object

In [15]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [16]:
# calling value: explicit indexing will be used
# slicing :implicit indexing will be used

In [17]:
# loc : explicit : given by user
# iloc: implicit : default by python

In [18]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [19]:
v[1] #explicit

1    a
1    b
dtype: object

In [20]:
v[1:3] #implicit

1    b
2    c
dtype: object

In [21]:
v.loc[1] #explicit indexing > given by user

1    a
1    b
dtype: object

In [22]:
v.iloc[1] #implicit indexing > by defauly by pandas

'b'

In [23]:
v.loc[4]

4    g
4    h
dtype: object

In [24]:
v.iloc[4]

'e'

In [26]:
# v.loc[-1] #explicit indexing > by user

In [27]:
v.iloc[-1]

'i'

In [28]:
# reversal using neg indexing
v.iloc[::-1]

5    i
4    h
4    g
3    f
3    e
2    d
2    c
1    b
1    a
dtype: object

In [11]:
v.loc[5]

'i'

In [12]:
v.iloc[5]

'f'

In [13]:
# slicing using loc and iloc

In [14]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [15]:
v.loc[1:2] #both start and stop values are included

1    a
1    b
2    c
2    d
dtype: object

In [16]:
v.iloc[1:2]

1    b
dtype: object

In [17]:
v[1:2]

1    b
dtype: object